<button type="button" class="btn btn-primary float-right" routerLink="/apikey">Settings</button>
<table class="table table-hover">
    <caption style="caption-side:top;">
        <h2>Countries</h2>
    </caption>
    <thead>
        <tr>
            <th width="15%" scope="col">#</th>
            <th width="70%" scope="col">Country</th>
            <th width="15%" scope="col">Flag</th>
        </tr>
    </thead>
    <tbody>
        <tr routerLink="/news/us" *ngFor="let item of countries; let i =  index;">
            <td><strong>{{i + 1}}</strong></td>
            <td>{{item.country}}</td>
            <td>
                <img class="img-fluid img-thumbnail" src="{{item.flag}}" alt="">
            </td>
        </tr>
    </tbody>
</table>